@property --cyan-x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 40%;
}

@property --cyan-y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 40%;
}

@property --yellow-x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 60%;
}

@property --yellow-y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 40%;
}

@property --pink-x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 50%;
}

@property --pink-y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 60%;
}

/* NOTE: Firefox doesn't support referencing CSS variables in @keyframes */

@keyframes cyan {
  from {
    --cyan-x: 40%;
    --cyan-y: 40%;
  }
  33% {
    --cyan-x: 60%;
    --cyan-y: 40%;
  }
  67% {
    --cyan-x: 50%;
    --cyan-y: 60%;
  }
  to {
    --cyan-x: 40%;
    --cyan-y: 40%;
  }
}

@keyframes yellow {
  from {
    --yellow-x: 60%;
    --yellow-y: 40%;
  }
  33% {
    --yellow-x: 50%;
    --yellow-y: 60%;
  }
  67% {
    --yellow-x: 40%;
    --yellow-y: 40%;
  }
  to {
    --yellow-x: 60%;
    --yellow-y: 40%;
  }
}

@keyframes pink {
  from {
    --pink-x: 50%;
    --pink-y: 60%;
  }
  33% {
    --pink-x: 40%;
    --pink-y: 40%;
  }
  67% {
    --pink-x: 60%;
    --pink-y: 40%;
  }
  to {
    --pink-x: 50%;
    --pink-y: 60%;
  }
}

.gradients {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation-iteration-count: infinite;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
    animation-iteration-count: infinite;
    pointer-events: none;
    animation-duration: 20s;
    opacity: 0.5;
    transition: all 1s;
  }

  &.loading {
    & > * {
      opacity: 0.75;
      filter: saturate(1.5);
    }
  }

  .cyan {
    background: radial-gradient(
      circle farthest-corner at var(--cyan-x) var(--cyan-y),
      var(--cyan) var(--gradient-start),
      transparent var(--gradient-end)
    );
    animation-name: cyan;
  }

  .yellow {
    background: radial-gradient(
      circle farthest-corner at var(--yellow-x) var(--yellow-y),
      var(--yellow) var(--gradient-start),
      transparent var(--gradient-end)
    );
    animation-name: yellow;
  }

  .pink {
    background: radial-gradient(
      circle farthest-corner at var(--pink-x) var(--pink-y),
      var(--pink) var(--gradient-start),
      transparent var(--gradient-end)
    );
    animation-name: pink;
  }
}

@media (prefers-reduced-motion) {
  .gradients > * {
    animation: none !important;
  }
}
