:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --cyan: #06b6d4;
  --yellow: #eab308;
  --pink: #ec4899;
  --red: #ef4444;

  /* positions */
  --gradient-top: 40%;
  --gradient-left: 40%;
  --gradient-right: 60%;
  --gradient-bottom: 60%;
  --gradient-center: 50%;

  /* sizes */
  --gradient-start: 5%;
  --gradient-end: 50%;

  /* spacing */
  --input-left-padding: 2rem;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: black;
  color: white;
}

.Typewriter {
  display: inline;
  font-weight: 600;
}
